#buttonDiv{
    width: 98%;
    height: 20px;
}

#viewTbl{
    width: 98%;
    margin:0 auto;
}

#viewTbl tr td{
    border: 1px solid RGB(227,227,227);
}

#viewTbl tr:nth-child(2){
    min-height: 300px;
}
